/*  your css code here. If applicable */
.main{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.div{
	text-align:center;
	margin-bottom:30%;
	padding-bottom:50px;
	
}
.btn{
	border-radius:5px;
	background:red;
	color:white;
	border:none;
	padding:5px 5px;
	width:80px
}
